.login-box__wrap{      
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
}
.login-box__content{
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    height: 70vh;
    width: 80%;
    margin-top: 3%;
}