div.footer
    div.footer-copyright 
        span &copy; Jun
    div.footer-contact
        a(href="https://juzdalua.github.io/").fas.fa-blog.footer-contact__icon
        a(href="https://www.instagram.com/juzdalua/").fab.fa-instagram.footer-contact__icon
        a(href="https://github.com/Juzdalua").fab.fa-github.footer-contact__icon