nav.nav-bar
    div.nav-bar__home
        a(href="/").nav-bar__home-heart.fas.fa-heartbeat        
    div.nav-bar__home-main
        ul.nav-bar__home-main-ul
            li.nav-bar__default-li 
                a(href="#") 메뉴1
            li.nav-bar__default-li 
                a(href="#") 메뉴2
            li.nav-bar__default-li 
                a(href="#") 메뉴3
    div.nav-bar__home-side   
        ul.nav-bar__home-side-ul   
            li.nav-bar__default-li 
                a(href="#") 회원가입
            li.nav-bar__default-li  
                a(href="/login") 로그인 
            li.nav-bar__default-li 
                a(href="#").fas.fa-bars
            li.nav-bar__default-li 
                a(href="#").fas.fa-search